<section class="featured-image-header" style="background-image: url(/assets/images/banners/about-us.jpg)">
  <div class="header-imahe-inner container">
    <h3 class="header-image-title">Solutions</h3>
    <p class="header-image-subtitle">This is tagline</p>
  </div>
</section>

<section class="bg-light-gray">
  <div class="section container">
    <div class="row">
      <div class="col">
        <div class="section-text-wrap">
          <h3 class="section-title">OEM & ODM SOLUTIONS</h3>
          <p class="section-text">
            Device, OS, Location, Time etc. This solution can help targeting new & existing users. Advertisers can Target & Retarget
            audience/ users as per their requirement. Through its partnerships with Publishers, Affiliates, Mobile Device
            Partners, DSPs etc globally, company brings in options to reach audiences across the globe. Be it India, Indonesia,
            Thailand, Vietnam, Singapore, US, UK, UAE etc.
          </p>
          <a href="#" class="btn btn-lg btn-primary">Contact Us</a>
        </div>
      </div>
      <!-- col -->
      <div class="col">
        <img src="assets/images/home/whatwedo.jpg" alt="">
      </div>
      <!-- col -->

    </div>
  </div>
</section>

<section class="">
  <div class="section container">
    <h3 class="section-title text-center">Solutions</h3>
    <br>
    <br>
    <div class="row">
      <div style="margin-bottom: 20px;" *ngFor="let sol of solutionList" class="col-sm-4">
        <div class="solition-wrapper bg-light">
          <h3 class="solution-title">{{sol.title}}</h3>
          <ul class="solition-list">
            <li *ngFor="let solItem of sol.solutionList">{{solItem}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="" style="background-position: 50% 0;background-image: url(assets/images/solutions/bg-dark-succes.jpg)">
  <div class="section container">
    <div class="row">
      <div class="col offset-6">
        <div class="section-text-wrap">
          <h3 class="section-title text-white" style="margin-bottom: 0;">Take the First Step to the</h3>
          <div class="section-title-bold text-white">Success of Your Company</div>
          <p class="section-text text-white">
            We can make your company the leader of the market by providing high quality business management solutions. Schedule an appointment
            to find out more.
          </p>
          <a href="#" class="btn btn-lg btn-primary">Make an Appointment</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container section">
    <div>
      <h3 class="section-title text-center">Our Clients & Partners</h3>
      <div class="row">
        <div class="col-sm">
          <img src="assets/images/solutions/partners/client_logo2.png" alt="">
        </div>
        <div class="col-sm">
          <img src="assets/images/solutions/partners/client_logo3.png" alt="">
        </div>
        <div class="col-sm">
          <img src="assets/images/solutions/partners/client_logo5.png" alt="">
        </div>
        <div class="col-sm">
          <img src="assets/images/solutions/partners/client_logo6.png" alt="">
        </div>
        <div class="col-sm">
          <img src="assets/images/solutions/partners/client_logo7.png" alt="">
        </div>
        <div class="col-sm">
          <img src="assets/images/solutions/partners/client_logo8.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>