<footer id="site-footer">
  <div class="container">
    <div class="row">
      <aside class="col">
        <div class=" footer-col">
          <h3 class="footer-title">About Us</h3>
          <section class="footer-text">
            Jack Morris Media is a 360 degree digital marketing & advertising company, with presence in Gurgaon India, Georgia – United
            States. Company offers various options to marketers to manage their marketing requirement for Performance – User
            Acquisition, Branding & User Engagement
          </section>
        </div>
      </aside>
      <aside class="col">
        <div class=" footer-col">
          <h3 class="footer-title">Contect Info</h3>
          <section class="footer-text">
            <p><b>Address : </b> Office address: 418, 4th Floor,Vipul Trade Centre, Sector 48, Sohna Road, Gurugram, Haryana 122001</p>
            <p><b>Call : </b> <a>9999999999</a></p>
            <p><b>Email : </b> <a>business@morrisdigital.mobi</a></p>
          </section>
        </div>
      </aside>
      <aside class="col">
        <div class=" footer-col">
          <h3 class="footer-title">Social Links</h3>
          <section class="footer-text">

          </section>
        </div>
      </aside>
    </div>
  </div>
</footer>
<aside class="copyright">
  <div class="container">
    <div class="row">
      <aside class="col copyright-text">Copyright &copy; 2018 by Jack Morris Media Pvt Ltd</aside>
      <aside class="col copyright-text">Read our <a href="#">Terms and Conditions</a></aside>
    </div>
  </div>
</aside>