<section class="home-slider">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div style="background-image: url(assets/images/home/slider/image1.jpg)" class="home-slide-one">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero</p>
          <a href="#" class="btn btn-lg btn-primary">Read more</a>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div style="background-image: url(assets/images/home/slider/image2.jpg)" class="home-slide-one">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet</p>
          <a href="#" class="btn btn-lg btn-primary">Read more</a>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div style="background-image: url(assets/images/home/slider/image3.jpg)" class="home-slide-one">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna</p>
          <a href="#" class="btn btn-lg btn-primary">Read more</a>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</section>

<section class="">
  <div class="section container">
    <div class="row">
      <div class="col">
        <img src="assets/images/home/whatwedo.jpg" alt="">
      </div>
      <div class="col">
        <div class="section-text-wrap">
          <h3 class="section-title">ARE YOU A BRAND, AGENCY OR MARKETEER?</h3>
          <p class="section-text">
            Jack Morris Media is a 360 degree digital marketing & advertising company, with presence in Gurgaon India, Georgia United
            States. We are specialist focusing exclusively on mobile media and advertising solutions, JMM brings Agencies
            or advertisers closer to target audiences with its mobile media publishers, affiliates, and global ad partners
            to tap the power of mobile media advertising. We believe Mobile advertisement is a strong and more engaging option
            for brands than Print Media, TVCs etc.
          </p>
          <a href="#" class="btn btn-lg btn-primary">Know more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature-section-wrap">
  <div class="container">
    <div class="row">
      <aside class="col">
        <div class="feature-section">
          <h4 class="feature-section-title">Qualified Employees</h4>
          <p class="feature-section-text">
            Our team consists of more than 20 qualified and experienced accountants, marketers, and managers.
          </p>
        </div>
      </aside>
      <aside class="col">
        <div class="feature-section">
          <h4 class="feature-section-title">Free Consultations</h4>
          <p class="feature-section-text">
            Our acquaintance with a client always begins with a free consultation to find out possible solutions to their problems.
          </p>
        </div>
      </aside>
      <aside class="col">
        <div class="feature-section">
          <h4 class="feature-section-title">100% Guaranteed</h4>
          <p class="feature-section-text">
            All results that you get from us are 100% guaranteed to bring you to a whole new level of profitability and financial success.
          </p>
        </div>
      </aside>
    </div>
  </div>
</section>

<section class="saparator-section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-sm-9">
        <div class="saparator-section-text">
          Learn the Cost of your <b>Accounting Solutions</b> Right Now!
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <a href="#" class="btn btn-primary btn-lg">View all options</a>
      </div>
    </div>
  </div>
</section>
