<section class="featured-image-header" style="background-image: url(assets/images/banners/about-us.jpg)">
  <div class="header-imahe-inner container">
    <h3 class="header-image-title">About Us</h3>
    <p class="header-image-subtitle">This is tagline</p>
  </div>
</section>
<!-- Who we are -->
<section class="">
  <div class="section container">
    <div class="row">
      <div class="col">
        <div class="section-text-wrap">
          <h3 class="section-title">Who we are?</h3>
          <p class="section-text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#" class="btn btn-lg btn-primary">Join out team</a>
        </div>
      </div>
      <!-- col -->
      <div class="col">
        <img src="assets/images/home/whatwedo.jpg" alt="">
      </div>
      <!-- col -->

    </div>
  </div>
</section>
<!-- what we do -->
<section class="bg-primary">
  <div class="section container">
    <div class="row">
      <div class="col">
        <img src="assets/images/home/whatwedo.jpg" alt="">
      </div>
      <!-- col -->
      <div class="col">
        <div class="section-text-wrap">
          <h3 class="section-title text-white">Why Choose us?</h3>
          <p class="section-text text-white">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#" class="btn btn-lg btn-danger">Read More</a>
        </div>
      </div>
      <!-- col -->
    </div>
  </div>
</section>

<!-- our team -->

<section>
  <div class="section container">
    <h3 class="section-title text-center">Our Team</h3>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <aside class="team-member">
          <div class="team-member-img">
            <span style="background-image: url(assets/images/about/team/team1.jpg)">
            </span>
          </div>
          <div class="team-social-link-wrap">
            <a href="#" class="team-social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="team-social-link"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="team-social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-social-link"><i class="fab fa-whatsapp"></i></a>
          </div>
          <div class="team-member-info">
            <div class="team-member-name">Jane Thompson</div>
            <div class="team-member-designation">General Manager</div>
          </div>
        </aside>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <aside class="team-member">
          <div class="team-member-img">
            <span style="background-image: url(assets/images/about/team/team2.jpg)">
            </span>
          </div>
          <div class="team-social-link-wrap">
              <a href="#" class="team-social-link"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="team-social-link"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="team-social-link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="team-social-link"><i class="fab fa-whatsapp"></i></a>
          </div>
          <div class="team-member-info">
            <div class="team-member-name">Gyan Parkash</div>
            <div class="team-member-designation">Sr UI Developer</div>
          </div>
        </aside>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <aside class="team-member">
          <div class="team-member-img">
            <span style="background-image: url(assets/images/about/team/team3.jpg)">
            </span>
          </div>
          <div class="team-social-link-wrap">
              <a href="#" class="team-social-link"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="team-social-link"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="team-social-link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="team-social-link"><i class="fab fa-whatsapp"></i></a>
          </div>
          <div class="team-member-info">
            <div class="team-member-name">Tom Hanks</div>
            <div class="team-member-designation">Chief Technical Architect</div>
          </div>
        </aside>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <aside class="team-member">
          <div class="team-member-img">
            <span style="background-image: url(assets/images/about/team/team4.jpg)">
            </span>
          </div>
          <div class="team-social-link-wrap">
              <a href="#" class="team-social-link"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="team-social-link"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="team-social-link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="team-social-link"><i class="fab fa-whatsapp"></i></a>
          </div>
          <div class="team-member-info">
            <div class="team-member-name">Leonardo Dicaprio</div>
            <div class="team-member-designation">Designer</div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>