<header>
  <section class="container" id="top-header">
    <div class="header-upper">
      <div class="row align-items-center">
        <div class="col">
          <img src="assets/images/logo/logo.png" alt="logo">
        </div>
        <div class="col">
          <a href="tel:999999999">9999999999</a>
          <br>
          <a href="tel:999999999">9999999999</a>
        </div>
        <div class="col">
          418, 4th Floor,Vipul Trade Centre, Sec 48, Sohna Road, Gurugram, 122001
        </div>
        <div class="col">
          <button class="btn btn-outline-primary btn-lg">Request a call</button>
        </div>
      </div>
    </div>
  </section>

  <nav class="main-nav" id="main-nav">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/solutions" routerLinkActive="active">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Publisher Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact us</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
