/* You can add global styles to this file, and also import other style files */

@import url("assets/lib/bootstrap-4.1.1/dist/css/bootstrap.css");
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Oswald', "Segoe UI", sans-serif;
}

nav.main-nav {
  background-color: #f5f6fa;
}

.header-upper {
  padding: 40px 0px;
}

a.nav-link {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 30px;
  color: #2d3742;
}

a.nav-link.active {
    color: #0095D9;
}

footer#site-footer {
    background-color: #2d3742;
    color: #8c8c8c;
    padding: 80px 0;
}
h3.footer-title {
    font-weight: 100;
    margin-bottom: 18px;
    color: #d2d2d2;
}
section.footer-text {
    font-weight: 100;
}
aside.copyright {
    background-color: #6b7177;
    color: #fff;
    padding: 20px 0;
}
.copyright-text {
    text-align: center;
}
